.interiery-wrap {
  padding: 12rem 0;
  overflow-x: hidden !important;
}

.interiery-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.interiery-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.interiery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.interiery-item {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.hover-text2 {
  opacity: 1;
  transform: translateY(-100%);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  transition: 0.2s ease-in;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.hover-text2 h1 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.hover-text2 h3 {
  font-size: 16px;
  color: var(--green);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.interiery-crossroad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.crossroad-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 250px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
  transition: 0.2s ease-out;
}

.crossroad-item:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/kuchne.png");
  grid-row: span 2 / span 2;
}

.crossroad-item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/obyvaci pokoj.png");
}

.crossroad-item:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/satny.png");
}

.crossroad-item:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/img/loznice.png");
  grid-column-start: 2;
}

.crossroad-item:nth-child(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/img/koupelny.png");
  grid-column-start: 3;
}
.crossroad-item:hover {
  transform: scale(1.01);
  transition: 0.2s ease-in;
}

.crossroad-item h1 {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.interiery-modal-wrap {
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);
}

.interiery-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden !important;
}

.interiery-form {
  width: 100%;
}

.interiery-form-item {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.interiery-form-item input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 0 0.5rem;
}

.interiery-form-item textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 0 0.5rem;
  resize: vertical;
  font-family: "Poppins", sans-serif;
  min-height: 50px;
  max-height: 150px;
}

.interiery-form-item input:focus {
  box-shadow: none;
}

.modal-btn {
  margin-top: 1rem;
}

.interiery-modal .save-btn {
  margin-left: 0.5rem !important;
}

.interiery-gallery {
  margin: 2rem 0;
}

.interiery-gallery-item img {
  width: 100%;
  object-fit: contain;
  height: 300px;
  border-radius: 5px;
}

.interiery-gallery-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1200px) {
  .interiery-crossroad {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .crossroad-item:nth-child(1) {
    grid-row: span 2 / span 2;
  }

  .crossroad-item:nth-child(4) {
    grid-column-start: unset;
  }

  .crossroad-item:nth-child(5) {
    grid-column-start: unset;
  }
}

@media (max-width: 768px) {
  .interiery-wrap {
    padding: 8rem 0;
  }

  .interiery-modal {
    width: 95%;
  }

  .interiery-crossroad {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .crossroad-item:nth-child(1) {
    grid-row: unset;
  }

  .crossroad-item:nth-child(4) {
    grid-column-start: unset;
  }

  .crossroad-item:nth-child(5) {
    grid-column-start: unset;
  }

  .interiery-item img {
    height: 200px;
  }
}
