/* Title */
.title {
  padding: 6rem 0rem 2rem 0;
}

.title h2 {
  color: var(--green);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
}

.title h1 {
  font-weight: 600;
  padding-top: 0.3rem;
}

/* Nabídka služeb */

.services {
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* Přidání mezery mezi obrázky */
}

.service {
  height: 300px;
  width: 49%;
  border-radius: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/intereiery.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/01c.png");
}

.serviceContent {
  color: white;
  text-align: center;
}

.service h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.main-text {
  font-size: 24px;
  margin-bottom: 20px;
  transform: translateY(180%);
  transition: 0.2s ease-in;
}

.hover-text .service-item {
  opacity: 0;
  transform: translateY(50%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.service:hover .main-text {
  transform: translateY(-50%);
  transition: 0.2s ease-in;
}

.service:hover .hover-text .service-item {
  opacity: 1;
  transform: translateY(0);
  transition: 0.2s ease-in;
}

.service:hover .hover-text .service-item:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s ease-in;
}

.service:hover .hover-text .service-item:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s ease-in;
}

.service:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/intereiery.webp");
}

.service:hover:nth-child(2):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/01c.png");
}

.service-item {
  display: flex;
  align-items: center;
  margin: 0;
}

.service-item p {
  font-size: 20px;
  color: white;
}

.service-item i {
  font-size: 8px;
  color: var(--green);
  margin-right: 1rem;
}

/*Konfigurátor výzva*/

.configurator {
  width: 100%;
  max-height: 150px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 25%);
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/configurator2.png");
  display: block;
  padding: 3rem 0;
}

.configurator:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/configurator2.png");
}

.configurator h3 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.configurator button {
  background-color: var(--green);
  color: white;
  padding: 1rem;
  width: 140px;
  cursor: pointer;
}

.configurator button:hover {
  background-color: #9dc442;
}

/* O mě */
.aboutme {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 10rem 0 0 0;
}

.aboutmeText {
  width: 55%;
}

.aboutmeImg {
  display: flex;
  width: 40%;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, #98ba49 0%, #59721f 100%);
  justify-content: center;
  border-radius: 0 5px 0 0;
}

.aboutmeImg img {
  width: 70%;
  height: auto;
}

.aboutmeText .title {
  padding: 0rem 0rem 2rem 0rem;
}

.aboutmeText p {
  font-size: 19px;
  line-height: 1.5;
}

.aboutmeText .quote {
  font-size: 19px;
  text-align: justify;
  line-height: 1.5;
  font-style: italic;
  color: rgb(69, 69, 69);
  font-size: 200;
}
/* bar */
.bar {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2rem 3rem;
  background-color: var(--darkblue);
  border-radius: 0 0 5px 5px;
}

.bar h3 {
  font-size: 14px;
  font-weight: 500;
}

/* Video */
.video {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding-bottom: 10rem;
}

.video iframe {
  border-radius: 5px;
}

.movie {
  background-color: var(--green);
  width: 100%;
  height: 500px;
  transition: 2s;
  border-radius: 5px;
}

.movie:hover {
  background-color: black;
}

.videoText {
  width: 50%;
  text-align: justify;
  padding: 0 0 0 2rem;
}

.videoText h1 {
  color: var(--green);
  text-align: center;
  padding: 0 0 2rem 0;
}

.videoText p {
  font-size: 19px;
  text-align: justify;
}

/* Kontakt */

.kontakt {
  padding: 6rem 0;
}

@media (max-width: 1034px) {
  .bar {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .bar h3 {
    margin-bottom: 0.5rem;
  }

  .aboutmeText p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .content-slider h1 {
    font-size: 38px;
  }

  .button-group {
    flex-direction: column;
  }

  .btn-white {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .services {
    flex-direction: column;
  }

  .service {
    width: 100%;
    height: 200px;
  }

  .service:hover .main-text {
    transform: translateY(-10%);
  }

  .aboutme {
    flex-direction: column;
  }

  .aboutmeText {
    width: 100%;
    margin-bottom: 2rem;
  }

  .aboutmeImg {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  .video {
    flex-direction: column;
  }

  .videoText {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
  }
}
