.galery {
  filter: brightness(100%);
  transition: filter 0.2s ease;
}

.galery img {
  transform: scale(1);
  transition: transform 0.3s;
}

.galery img:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}
.content-galery {
  text-align: center;
  margin: 12rem 1rem 2rem 1rem;
}
.galerie-choices {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.galerie-choices button {
  padding: 1rem 1rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
}

.galerie-choices button:hover {
  background-color: #ebebeb5b;
  transform: 2s;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay img {
  width: auto;
  height: 100vh;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  margin: 2rem;
}

.close {
  padding: 2rem;
  font-size: 25px;
  background: none;
  color: white;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.close:hover {
  padding: 2rem;
  color: #98ba49;
}

.next {
  padding: 2rem;
  font-size: 25px;
  background: none;
  color: white;
  border: none;
  position: absolute;
  right: 1rem;
}

.next:hover {
  padding: 2rem;
  color: #98ba49;
}

.prev {
  padding: 2rem;
  font-size: 25px;
  background: none;
  color: white;
  border: none;
  position: absolute;
  left: 1rem;
}

.prev:hover {
  padding: 2rem;
  color: #98ba49;
}
.galerie-choices button.active {
  color: white;
  background-color: #98ba49;
  border: 2px solid var(--green);
}
@media screen and (max-width: 768px) {
  .next {
    display: none;
  }

  .prev {
    display: none;
  }

  .galerie-choices button {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 1345px) {
  .galerie-choices button {
    width: 100%;
  }

  .galerie-choices {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .galerie-choices {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
