.outofservice {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3b3b3b;
}

.outofservice h1 {
  font-size: 3rem;
  color: var(--green);
  margin-bottom: 2rem;
}

.outofservice p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
}
