.configurator-main {
  padding: 12rem 0;
}
.configurator-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.configurator-picture {
  width: 60%;
  height: 500px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.configurator-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.progress {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  overflow: hidden;
  border-radius: 5px;
}

.progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--green, #4caf50);
  animation: progress 5s linear infinite;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.configurator-content {
  width: 40%;
  margin-left: 1rem;
  height: 100%;
}

.configurator-label {
  padding: 0.3rem 0.2rem;
}

.configurator-label h5 {
  font-size: 16px;
  font-weight: 700;
}

.configurator-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.configurator-item:hover {
  box-shadow: 0 4px 15px var(--green);
  border-color: #000;
}
.c-item-row {
  display: flex;
  align-items: center;
  width: 55%;
  height: auto;
}

.c-item-row span {
  padding: 0.5rem;
  background-color: none;
}
.configurator-item img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
}

.selected {
  background-color: var(--green);
  transform: scale(1.1);
  transition: transform 0.3s;
}
.configurator-send {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}
.configurator-send button {
  background-color: var(--green);
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.configurator-parametres {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Přidá mezery mezi inputy */
}

.configurator-parametres label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.configurator-parametres input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  outline: none;
  width: 100%;
}

input:focus {
  box-shadow: 0 4px 15px var(--green);
  border-color: #000;
}
canvas {
  touch-action: none;
}
@media screen and (max-width: 1450px) {
  .configurator-section {
    flex-direction: column;
  }
  .configurator-picture {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .configurator-content {
    width: 100%;
    margin-left: 0;
  }
}
