.configurator-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.configurator-picture {
  width: 60%;
  height: 100vh;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.configurator-picture img {
  object-fit: cover;
  width: 90px;
  height: 90px;
}
.progress {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  overflow: hidden;
  border-radius: 5px;
}

.progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--green, #4caf50);
  animation: progress 5s linear infinite;
}
.item--active {
  filter: brightness(1) !important;
  transform: scale(1.1) !important;
  transition: transform 0.3s;
}

.item {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  padding: 0;
  filter: brightness(0.9);
  transform: scale(1);
  transition: transform 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.configurator-content {
  width: 40%;
  margin-left: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 2rem;
}

.configurator-label {
  padding: 0.3rem 0.2rem;
}

.configurator-label h5 {
  font-size: 20px;
  font-weight: 700;
}

hr {
  border: 1px solid var(--green);
  margin: 0.5rem 0;
}

.configurator-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.configurator-item:hover {
  border-color: #000;
}
.c-item-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.c-item-row span {
  padding: 0.5rem;
  background-color: none;
}
.configurator-item img {
  width: 90px;
  height: 90px;
  border-radius: 15px;
}

.selected {
  background-color: var(--green);
  transform: scale(1.1);
  transition: transform 0.3s;
}
.configurator-send {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}
.configurator-send button {
  background-color: var(--green);
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.configurator-parametres {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Přidá mezery mezi inputy */
}

.configurator-parametres label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.configurator-parametres input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  outline: none;
  width: 100%;
}

input:focus {
  border-color: #000;
}
canvas {
  touch-action: none;
  position: fixed;
  z-index: 99998;
  overflow: hidden;
}

.configurator-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.configurator-item input {
  padding: 0.5rem;
  border: none;
}

.configurator-item input:focus {
  border: none;
  outline: none;
}

.table-title {
  font-size: 20px;
  font-weight: 700;
  margin: 2rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
}

.table-title h1 {
  border-bottom: 4px solid var(--green);
}

.configurator-item-color {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}

.item-color {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
  cursor: pointer;
}

.item-color-active {
  border: 2px solid var(--green);
}

.scale-item-hidden {
  display: none;
}

.item-color img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 1rem;
}

.item-color input {
  width: 35px;
  height: 35px;
  border-radius: 50% !important;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.configurator-scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.scale-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.scale-item label {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.configurator-main .language-dropdown {
  top: 78px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 25px;
  z-index: 9999;
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  z-index: 9999;
}

.back-btn {
  color: var(--green);
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 32px;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 999999;
  border-radius: 5px;
}

@media screen and (max-width: 1450px) {
  .configurator-section {
    flex-direction: column;
  }
  .configurator-picture {
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    z-index: 99999;
    position: fixed;
    border-bottom: 4px solid var(--green);
  }

  .configurator-content {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 3rem 2rem;
    margin-top: 22rem;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
    height: auto;
    z-index: 99999;
  }

  .configurator-item-color {
    grid-template-columns: repeat(2, 1fr);
  }

  .c-item-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .table-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .table-title h1 {
    margin-bottom: 1rem;
  }
}
