.kontakt-wrapper {
  padding-top: 12rem;
}

.kontakt-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 12rem;
  height: 500px;
}

.kontakt-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.kontakt-form h3 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.kontakt-item {
  display: flex;
  padding: 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  border-bottom: 2px solid var(--green);
}

.kontakt-item i {
  font-size: 36px;
}

.kontakt-item h5 {
  font-size: 18px;
  font-weight: 600;
}

.kontakt-item a h5:hover {
  color: var(--green);
}

.kontakt-wrapper input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid var(--green);
}

.kontakt-wrapper textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid var(--green);
  font-family: Arial, sans-serif;
}

.kontakt-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 40%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.kontakt-btn {
  background-color: var(--green);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.map {
  width: 100%;
}
@media (max-width: 768px) {
  .kontakt-content {
    flex-direction: column-reverse;
    height: 100%;
  }

  .kontakt-content input,
  .kontakt-content textarea {
    margin-bottom: 1rem;
  }

  .kontakt-info {
    width: 100%;
  }

  .kontakt-form {
    width: 100%;
    margin-bottom: 4rem;
  }
}

@media (max-width: 1034px) {
  .kontakt-item i {
    font-size: 24px;
  }

  .kontakt-item h5 {
    font-size: 16px;
  }
}
