.stoly-main {
  padding: 12rem 0;
}

.stoly-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services1 {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* Přidání mezery mezi obrázky */
}

.services1 .main-text {
  transform: translateY(0);
}

.services1 .service:hover .main-text {
  transform: translateY(0);
}

.stoly-contnet {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.stoly-card {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  cursor: pointer;
  transition: 0.3s;
}

.stoly-card:hover {
  transform: scale(1.025);
  transition: 0.3s;
}

.stoly-card h1 {
  color: white;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
