.stoly-main {
  padding: 12rem 0;
}

.stoly-main .title {
  padding: 2rem 0;
}

.podmenu-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 4rem;
}

.podmenu-title h1 {
  margin: 0;
}

.services1 {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.services1 .main-text {
  transform: translateY(0);
}

.services1 .service:hover .main-text {
  transform: translateY(0);
}

.services1 .service {
  width: 100%;
}

.stoly-contnet {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.stoly-card {
  display: flex;
  flex-direction: column;
}

.stoly-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1);
  transition: transform 0.3s;
}

.stoly-card img:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

.stoly-text h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.stoly-text p {
  font-size: 16px;
  font-weight: 400;
  margin: 0.5rem 0;
}

.text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
}

.text-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-btns .info {
  background-color: #ffffff;
  border: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--green);
  cursor: pointer;
}

.text-row span {
  font-size: 26px;
  font-weight: 700;
}

.text-btns .lupa {
  background-color: var(--green);
  color: #ffffff;
  border: 0;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 0.5rem;
  cursor: pointer;
}

.text-btns .lupa:hover {
  background-color: #87a541;
}

.tooltip {
  position: absolute;
  margin-top: 18rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999999;
}

.tooltip p {
  font-size: 16px;
  font-weight: 400;
  margin: 1rem 0;
}

.tooltip p span {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .services1 {
    flex-direction: column;
    gap: 2rem;
  }

  .podmenu-title img {
    width: 100%;
  }
}
