.produkt-main {
  padding: 12rem 0;
}

.produkt-main nav {
  position: unset !important;
}

.produkt-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
}

.produkt-title h1 {
  border-bottom: 4px solid var(--green);
}

.produkt-title i {
  font-size: 24px;
  margin-right: 1.5rem;
  padding: 0.75rem;
  border-radius: 20%;
  color: var(--green);
  transition: all 0.3s;
  cursor: pointer;
}

.produkt-title i:hover {
  color: white;
  background-color: var(--green);
  padding: 0.75rem;
  border-radius: 50%;
  transition: all 0.3s;
  animation: rotate infinite 1.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.produkt-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.produkt-gallery {
  width: 60%;
  margin-right: 2rem;
}

.produkt-content {
  width: 40%;
  margin-left: 2rem;
}

.produkt-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.produkt-item img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
}

.produkt-item h5 {
  font-size: 16px;
  font-weight: 700;
}

.produkt-item p {
  font-size: 16px;
  font-weight: 400;
}

.produkt-akce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.produkt-cena h3 {
  font-size: 24px;
  color: var(--green);
  font-weight: 700;
}

.produkt-cena p {
  font-size: 16px;
  font-weight: 500;
  color: #a7a7a7;
}

.produkt-cena span {
  font-size: 16px;
  font-weight: 100;
}

.produkt-akce button {
  padding: 1rem 1rem;
  background-color: var(--green);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.produkt-akce button:hover {
  background-color: #87a541;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 3px solid var(--green);
  border-radius: 8px;
  filter: brightness(0.6);
}

.image-gallery-thumbnail:hover {
  border: 3px solid var(--green);
  border-radius: 8px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 65px;
  border-radius: 5px;
}

.image-gallery-thumbnail {
  border: 3px solid transparent;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: start;
}

.image-gallery-slide .image-gallery-image {
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 5px;
}

.desc-wrapper {
  margin: 4rem 0 6rem 0;
  display: flex;
}

.desc-content {
  width: 100%;
}

.desc-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  width: fit-content;
}

.desc-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.produkt-main .title {
  padding: 0;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 40px;
  height: 40px;
}

.image-gallery-icon {
  color: white;
}

.image-gallery-icon:hover {
  color: #87a541;
}

@media screen and (max-width: 1024px) {
  .produkt-wrap {
    flex-direction: column;
    gap: 2rem;
  }

  .produkt-gallery {
    width: 100%;
    margin-right: 0;
  }

  .produkt-content {
    width: 100%;
    margin-left: 0;
  }

  .produkt-item {
    width: 100%;
  }

  .item-row {
    width: 100%;
  }

  .item-row {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .produkt-main {
    padding: 8rem 0;
  }

  .produkt-title {
    font-size: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .produkt-item h5 {
    font-size: 14px;
  }

  .produkt-item p {
    font-size: 14px;
  }

  .produkt-cena h3 {
    font-size: 18px;
  }

  .produkt-cena p {
    font-size: 14px;
  }

  .produkt-cena span {
    font-size: 14px;
  }

  .produkt-akce button {
    font-size: 12px;
  }
}
