:root {
  --green: #98ba49;
  --darkblue: #272c38;
  --white: #ffffff;
  scroll-behavior: smooth;
  font-family: CustomFont;
}
@font-face {
  font-family: "CustomFont"; /* Name your font family */
  src: url("/font/SignikaNegative-Regular.ttf"); /* Locate the .ttf file within your directory*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  /* background: white;*/
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--green);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darkblue);
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1201px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1250px;
  }
}

.container {
  padding: 0 1rem;
}
