.admin-wrapper {
  padding: 4rem 0;
  background-color: #272c38;
  min-height: 100vh;
  height: 100%;
}

.admin-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.stul-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
}

.stul-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  object-position: top;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card-title h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.card-title p {
  margin-top: 0.5rem;
}

.card-title-content {
  margin-right: 0.5rem;
}

.edit {
  background-color: #ffffff;
  color: #000000;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-right: 0.5rem;
}

.edit:hover {
  background-color: #dfdddd;
}

.delete {
  background-color: #d40303;
  color: #ffffff;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.delete:hover {
  background-color: #ff0000;
}

.add-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-card h3 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.add-card i {
  font-size: 28px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
  padding: 0.75rem;
  border-radius: 0%;
}

.add-card:hover i {
  transform: rotate(90deg);
  transition: all 0.3s ease;
  background-color: var(--green);
  border-radius: 25%;
}

.modal-wrapper {
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto !important;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-header h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  margin: 0 0.5rem;
}

.modal-header h3 span {
  font-weight: 500;
  color: var(--green);
}

.modal-header .close-modal {
  background-color: transparent;
  color: #d40303;
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 5px;
}

.modal-header .close-modal i {
  font-size: 26px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.modal-header .close-modal:hover i {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.modal-content {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 0 0.5rem;
}

.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 0 0.5rem;
  resize: vertical;
  font-family: "Poppins", sans-serif;
  min-height: 50px;
  max-height: 150px;
}

.form-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 0 0.5rem;
}

.form-group input:focus {
  box-shadow: none;
}

.modal-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.ig-modal-btn {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.save-btn {
  background-color: var(--green);
  color: white;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-right: 0.5rem;
  font-size: 18px;
  transition: all 0.3s ease;
  margin-left: 0.5rem;
}

.save-btn:hover {
  background-color: #7c973c;
  transition: all 0.3s ease;
}

.modal-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid var(--green);
  transition: all 0.3s ease;
  filter: brightness(1);
}

.modal-img:hover {
  cursor: pointer;
  filter: brightness(0.6);
  transition: all 0.3s ease;
}

.modal .file-upload {
  margin-left: 0.5rem;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.file-upload .custom-file-label {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: var(--green);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-right: 1rem;
}

.delete-img {
  background-color: #d40303;
  color: #ffffff;
  padding: 0.75rem;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-left: 0.5rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked {
  background-color: white;
  border-color: #ccc;
}

input[type="checkbox"]:checked::after {
  content: "✓"; /* Přidá zaškrtnutí */
  display: block;
  text-align: center;
  color: var(--green);
  font-weight: bold;
  font-size: 30px;
}

.ig-edit {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  background-color: transparent;
}

.ig-edit i {
  font-size: 50px;
  color: white;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.ig-edit i:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .modal {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
    margin: 0;
  }

  .form-group input {
    margin: 0.25rem 0;
  }

  .form-group textarea {
    margin: 0.25rem 0;
  }

  .form-group select {
    margin: 0.25rem 0;
  }

  .file-upload .custom-file-label {
    margin: 0.25rem 0;
    padding: 0.5rem;
  }

  .file-upload {
    margin-left: 0 !important;
  }

  .delete-img {
    margin: 0.25rem 0;
    padding: 0.5rem;
  }

  .modal-wrapper {
    overflow: auto !important;
    height: 100%;
  }

  .modal {
    top: 70%;
  }

  .modal-header {
    margin-bottom: 1rem;
  }
}

@media (max-height: 768px) {
  .modal-img {
    width: 50px;
    height: 50px;
  }

  .form-group input {
    padding: 0.5rem;
  }

  .form-group textarea {
    padding: 0.5rem;
  }

  .form-group select {
    padding: 0.5rem;
  }

  .form-group {
    margin: 0.75rem 0;
  }
}
