.slider-container {
  margin-top: calc(var(--navbar-height, 35px));
  position: relative;
  overflow: hidden;
}

.slide {
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/img/skrin.webp");
}

.content-slider {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  padding: 20px;
}

.content-slider h1 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  text-align: center;
}

.content-slider h2 {
  font-size: 2rem;
  width: 600px;
  margin-bottom: 20px;
}

.button-group {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group span {
  font-family: "Maven Pro", serif;
}

.btn-white {
  padding: 1rem 4.1rem;
  background-color: var(--green);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin-left: 3rem;
  border-radius: 8px;
}

.btn-white:hover {
  background-color: #87a541;
}

.btn-green {
  padding: 0.3rem 0.3rem 0.3rem 2rem;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.btn-green .arrow-bg {
  background-color: var(--green);
  padding: 0.75rem;
  border-radius: 8px;
  margin-left: 2rem;
}

.btn-green i {
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: transform 0.3s;
}

.btn-green:hover i {
  animation: bounce infinite 0.7s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateY(0);
  }
}
